body {
  background: #c7fdfb;
}

h1,
p {
  text-align: center;
}

.croissant {
  max-width: 100%;
  border-radius: 30px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
  font-size: x-large;
  font-weight: 800;
}

footer a {
  margin: 0 10px;
  color: rgb(250, 166, 10);
}
span {
  display: block;
  margin-left: 500px;
  margin-top: 500px;
  text-decoration: double;
  font-size: x-large;
  font-weight: 800;
}
